.alert.alert-info You're using Compass and Bootstrap 2.0
.row.jumbotron
  .span8
    =image_tag("http://cambelt.co/750x400")
  .span4
    .well
      %h5 Get the Code
      =link_to "http://github.com/jwo/compass-bootstrap2.0-rails", :class=>"btn btn-primary btn-large" do
        %i.icon-folder-open.icon-white
        Github Me
    .compassme
      %p I have a background gradient and box shadow from compass
.row
  .span4
    .well
      %h4 Mustache thundercats 
      %p Austin, aliqua skateboard farm-to-table assumenda fanny pack nulla 3 wolf moon. Banh mi enim beard, ad veniam wolf chambray. 3 wolf moon biodiesel etsy, messenger bag mixtape keffiyeh enim cosby sweater single-origin coffee helvetica salvia. Dolor adipisicing etsy squid dolore, labore before they sold out excepteur tofu. Freegan dreamcatcher aliquip enim trust fund, retro nostrud assumenda carles excepteur tofu biodiesel. Est sed mlkshk proident. Skateboard thundercats vinyl wayfarers organic, do sustainable ad elit sed put a bird on it.

  .span4
    .well
      %h4 3 wolf moon 
      %p Delectus high life reprehenderit, vero put a bird on it etsy wes anderson readymade gentrify next level williamsburg aesthetic commodo irure mollit. Sint portland consectetur helvetica, non labore locavore cred williamsburg. Mlkshk ex blog, nostrud before they sold out magna aute. Culpa tofu master cleanse, pitchfork biodiesel readymade proident salvia photo booth twee anim fanny pack trust fund incididunt commodo. Butcher adipisicing elit locavore sint labore. Readymade Austin jean shorts, keffiyeh beard cosby sweater terry richardson cliche.

  .span4
    .well
      %h4 Helvetica Marfa Austin
      %p Letterpress placeat dolor, photo booth esse sint vero. Four loko sunt master cleanse, lomo put a bird on it esse et craft beer sapiente dreamcatcher blog viral whatever chambray. Sapiente occaecat tofu sunt. Scenester four loko pariatur culpa tofu. Culpa dreamcatcher messenger bag, williamsburg photo booth master cleanse excepteur. Marfa Austin nihil minim consectetur, ullamco leggings quis lo-fi messenger bag sustainable master cleanse ea placeat sed. Photo booth organic put a bird on it, wes anderson thundercats ethical placeat eu chambray aliquip keffiyeh +1 laborum fugiat aute.
