/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";
@import "bootstrap/responsive";
@import "compass/css3/gradient";
@import "compass/css3/box-shadow";

.jumbotron {
  margin-bottom: 2em;
}

.compassme {
  @include linear-gradient(color-stops(#222222, #999999), bottom);
  @include box-shadow();
  padding: 3em 1em;
  color: white;
}
